
.imgPrincipale{
    width: 100%;
    min-height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.imgGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}