.magasinContact{
    font-size: large;
    line-height: 1.8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 15rem;
}

.adresseContact{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.bodyContact{
    font-size: large;
    line-height: 1.8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10rem;
    margin: 1rem 65rem;
}

.horaire{
    font-size: larger;
    font-weight: bold;
}

.titreContact{
    font-size: 35px;
    color: rgb(254, 59, 0);
    font-weight: bold;
    align-items:flex-start;
    padding-top: 3rem;
    margin: 1rem 10rem;
}

.courriel{
    font-size: 20;
    color: rgb(254, 59, 0);
    font-weight: bold;
    padding-top: 1rem;
    margin: 5rem 10rem;
}