.gallerie {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: row;     
}

.gallerie img {
    padding: .2rem;
    border: 1px solid #000;
    border-radius: 5px;
    height: 30rem;
    width: 25rem;
}