html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}
*,*::before,*::after{
  box-sizing: inherit;
}
main{
  flex: 1;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica';
}
header{
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 95px;
}