.titreHistoire{
    font-size: 35px;
    color: rgb(254, 59, 0);
    font-weight: bold;
    align-items:flex-start;
    margin-bottom: 3rem;
}

.histoire{
    display: flex;
    flex-direction: row;
    width:auto;
    font-size: large;
    line-height: 2;
    padding-bottom: 5rem;
}

.contenu{
    padding-right: 2rem;
}

.bodyHistoire{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.imgResize {
    height: auto;
    max-width: 100%;
}
