.titreHistoire{
    font-size: 35px;
    color: rgb(254, 59, 0);
    font-weight: bold;
    align-items:flex-start;
    margin-bottom: 1rem;
}

.histoire{
    font-size: large;
    line-height: 1.8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 5rem;
    margin: 1rem 0;
}

.bodyHistoire{
    margin: 5rem 15rem;
}

.imgResize {
    height: auto;
    max-width: 100%;
}
