.gallerie {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: row;     
}

.gallerie img {
    padding: .2rem;
    border: 1px solid #000;
    border-radius: 5px;
    height: 30rem;
    width: 25rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 1rem 0;
    position: relative;
    min-height: 50vh;
    overflow: hidden;
    background-color: rgb(255, 220, 182);
    border-radius: 2rem;
    margin: 2rem 1rem;
  }

  .containerBouttonAchat{
    display: grid;
    font-size: large;
    line-height: 1.8;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 3rem .1rem;
}

.containerItem {
  box-shadow: 0 30px 40px rgba(255, 220, 182, 0.67);
}
  
  .img {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    object-fit: auto;
  }

  .imgCard{
    cursor: pointer;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  
  .button {
    background-color: #FF5DC9;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 800;
    border-radius: 50px;
    padding: .9rem .2rem;
    font-size: 15px;
    margin: 0 1.2rem;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .dashBoardButton{
    display: flex;
    background-color: rgb(95, 95, 95);
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 800;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .dashBoardButton:hover{
    cursor: default;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .imageInfo{
    display: flex;
    font-weight: bolder;
    font-size: 1.2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    margin: 1rem 1rem;
  }

  .imageId{
    font-size: 1.3em;
    color:#000000;
    margin: .5rem 0;
  }
  .imageName{
    font-size: 1.6em;
    color:rgb(254, 59, 0);
    margin: .5rem 0;
  }

  .imagePrice{
    font-size: 1.5em;
    color:rgb(128, 128, 128);
    margin: .5rem 0;
  }

  .imageStock{
    font-size: 1.2em;
    color:black;
    margin: .5rem 0;
  }

  .stock{
    font-size: 2rem;
    display: inline-block;
    padding: 0.71rem 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 10rem;
    color: #212529;
    background-color: rgb(240,230,140);
}

@media (max-width: 900px) {
  .gallerie{
    width: 500px;
  }
  .imageName{
    font-size: 1.5rem;
  }
  .imagePrice{
    font-size: 1.5rem;
  }
  .stock{
    font-size: 1.5rem;
    padding: 0.5rem 1.2rem;
  }
  .imageStock{
    font-size: 1.5rem;
  }
}